@import './_variables.scss';
body {
    background-color: $background-orange;
}

.QuizContainer {
    max-width: 1280px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

.quizPageContainer {
    background-color: white;
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 1rem 0rem;

    .quizTextContainer {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .quizImg {
        background-color: white;
        display: flex;
        font-family: 'Roboto';
        width: 700px;
        height: 400px;
    }

    .quizText {
        font-size: 3rem;
        font-family: 'Roboto';
    }
}

.quizAdd, .quizQuestion, .quizResponse {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 0rem;
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Roboto';

    .quizName {
        width: 50%;
    }

    .icon {
        font-size: 2rem;
        cursor: pointer;
        transition: color 1s;

        &:hover {
            color: orange;
        }
    }



    .quizQuestionContainer, .responseContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }
}

.quizInput {
    width: 50%;
    outline: none;
    font-family: 'Roboto';
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: solid 1px orange;
    font-family:'Roboto-Bold';
    transition: all 1s;

    &:focus {
        box-shadow: 0px 0px 1em orange;
    }
}


.quizResponsesContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;

    .quizResponseContainer {
        margin-top: 0.5rem;
        cursor: pointer;
        width: auto;
        padding: 0rem 1rem;
        justify-content: space-between;
        min-width: 300px;
        border: solid 1px orange;
        display: flex;
        align-items: center;
    }
}

.quizResponse {
    padding-bottom: 2rem;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 1rem;

    .button {
        padding: 1rem;
        background-color: transparent;
        border: solid 1px orange;
        border-radius: 10px;
        font-size: 1rem;
        font-family: Roboto;
        cursor: pointer;
    }
}