@import './_variables.scss';

body {
    background-color: $background-orange;
}

    .EnterContainer {
        display: flex;
        flex-direction: column;
        max-width: 1280px;
        background-color: white;
        font-family: 'Roboto';
        margin: 0 auto;
        
        .surveyTitle {
            color: $background-orange-dark;
            align-items: center;
            text-align: center;
        }

        .titleContainer {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;

            .title {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                background-color: orange;
                padding: 10px;
            }
        }

        .surveyText {
            text-align: center;
        }
        
        .container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 0 2rem;
            padding: 0 1rem;
            
            .buttonContainer {
                display: flex;
            }
        }

        .fetchPoll, .fetchQuiz {
            width: 50%;
        }

        .fetchPoll {
            @include voteContainer;
        }

        .fetchQuiz {
            @include voteContainer;
        }

    }
