$background-orange: rgb(255, 199, 96);
$background-orange-light: #f5a623;
$background-orange-dark: #f5a623;
$background-orange-darker: #f5a623;
$background-orange-darkest: #f5a623;
$background-orange-lighter: #f5a623;
$background-orange-lightest: #f5a623;

@font-face {
    font-family: 'Roboto';
    src: url('../public/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../public/fonts/Roboto-Bold.ttf');
}

@mixin voteContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;

    .poll, .quiz {
        display: flex;
        flex-direction: column;
        border: solid 3px orange;
        align-items: center;
        padding: 1rem;
    }

    .pollQuestionContainer, .quizQuestionContainer {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .buttonContainer, .quizButtonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;

        .secondary {
            margin-left: 0px !important;
        }
    }
}


.accessButton {
    cursor: pointer;
    border: solid 1px orange;
    outline: none;
    font-family: 'Roboto';  
    font-family: Roboto;
    font-size: 1.2rem;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border-radius: 2px;
    border: solid 2px $background-orange-lightest;
    align-items: center;        
    cursor: pointer;
    transition: 1s all;
    background-image: -webkit-linear-gradient(30deg, $background-orange-dark 50%, transparent 50%);
    background-image: linear-gradient(30deg, $background-orange-dark 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    color: white;
    -webkit-transition: background 300ms ease-in-out;
    transition: background color 1s;

    &:hover, &:focus {
        background-position: 100%;
        color: orange;
    }  
}